Allocation_scripts/select_journey_data.csv
Allocation_scripts/cleaned_route_data_all_11022020.csv
Allocation_scripts/Outputs_20200904/allCasesAllocCharging/Vivaro/164_d_fleetSize_75_0.46_45.csv
Allocation_scripts/Outputs_20200904/allCasesAllocCharging/Vivaro/164_ev_fleetSize_75_0.46_45.csv
Allocation_scripts/Outputs_20200904/allCasesAllocCharging/Vivaro/164_newstoreD_513_75_0.46_45.csv
Allocation_scripts/Outputs_20200904/allCasesAllocCharging/Vivaro/164_newstoreE_513_75_0.46_45.csv
Allocation_scripts/Outputs_20200904/allCasesAllocCharging/Vivaro/513_vanEnergyProfileTable_75_0.46_45.csv
Data/BAU_profile_output.png
Data/singe_veh.jpg
Data/JPL_allocation/Vivaro/164_newstoreE_513_75_0.46_45.csv
Data/singe_veh.jpg
